{% extends "base.html" %}
{% block title %} Friender | Знакомься, встречайся, заводи друзей - Friender {% endblock %}

{% block content %}
    {% load cache %}
        {% cache 1200 info %}
    <div class="row" style="margin-top: 40px; margin-left: 256px; margin-right: auto" >
        <div class="col-3" style="width: 256px; height: 256px">
            <h5 class="card-title" align="left"><b>Explore Your Passions</b></h5>
            <p class="card-text" align="left">It’s easy to chat up a match when you know you have something in common. The Tinder app
                lets you add Passions to your profile and connect with people who share your interests.</p>
        </div>
        <div class="col-3" style="width: 256px; height: 256px">
            <h5 class="card-title" align="center"><b>Explore Your Passions</b></h5>
            <p class="card-text" align="center">It’s easy to chat up a match when you know you have something in common. The Tinder app
                lets you add Passions to your profile and connect with people who share your interests.</p>
        </div>
        <div class="col-3" style="width: 256px; height: 256px">
            <h5 class="card-title" align="center"><b>Explore Your Passions</b></h5>
            <p class="card-text" align="center">It’s easy to chat up a match when you know you have something in common. The Tinder app
                lets you add Passions to your profile and connect with people who share your interests.</p>
        </div>
    </div>
    {% endcache %}
{% endblock %}
