{% extends "base.html" %}
{% block title %} Establishments | Friender {% endblock %}
{% block content %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for establishment in establishments %}
        <tr>
            <td>{{ establishment.name }}</td>
            <td>{{ establishment.category }}</td>
            <td>{{ establishment.address }}</td>
            <td>{{ establishment.phone }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
