{% extends "base.html" %}
{% block title %} Заведения | Знакомься, встречайся, заводи друзей - Friender {% endblock %}
{% block content %}
    <table class="table">
        {% load cache %}
        {% cache 1200 columns %}
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Категория</th>
                <th scope="col">Адрес</th>
                <th scope="col">Телефон</th>
            </tr>
            </thead>
        {% endcache %}
        <tbody>
        {% for establishment in establishments %}
            <tr>
                <td><a href="{% url 'establishment_form_rating' id=establishment.id %}">{{ establishment.name }}</a>
                </td>
                <td>{{ establishment.category }}</td>
                <td>{{ establishment.address }}</td>
                <td>{{ establishment.phone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                    </li>
                {% elif num > page_obj.paginator.number|add:'-3' and num < page_obj.paginator.number|add:'3' %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}
