{% extends "base.html" %}
{% block title %} Заведения {% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">rating</th>
            <th scope="col">description</th>
        </tr>
        </thead>
        <tbody>
        {% for rating in ratings %}
            <tr>
                <td>{{ rating.establishment }} </td>
                <td>{{ rating.rating }}</td>
                <td>{{ rating.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}