{% extends "base.html" %}
{% block title %} Приглашающие | Знакомься, встречайся, заводи друзей - Friender  {% endblock %}
{% block content %}
    <table class="table">
        {% load cache %}
        {% cache 1200 columns %}
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Возраст</th>
                <th scope="col">Пол</th>
                <th scope="col">Email</th>
                <th scope="col">Город</th>
            </tr>
            </thead>
        {% endcache %}
        <tbody>
        {% for host in hosts %}
            <tr>
                <td>{{ host.name }}</td>
                <td>{{ host.surname }}</td>
                <td>{{ host.age }}</td>
                <td>{{ host.sex }}</td>
                <td>{{ host.email }}</td>
                <td>{{ host.city }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                    </li>
                {% elif num > page_obj.paginator.number|add:'-3' and num < page_obj.paginator.number|add:'3' %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
