{% extends "base.html" %}
{% block title %} Отзывы о пользователях | Знакомься, встречайся, заводи друзей - Friender {% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Отзыв</th>
        </tr>
        </thead>
        <tbody>
        {% for rating in ratings %}
            <tr>
                <td>{{ rating.user.name }} {{ rating.user.surname }}</td>
                <td>{{ rating.rating }}</td>
                <td>{{ rating.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                    </li>
                {% elif num > page_obj.paginator.number|add:'-3' and num < page_obj.paginator.number|add:'3' %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}