{% extends "base.html" %}
{% block title %} Rating {% endblock %}
{% block content %}
<form>
  <div class="mb-3">
    <label for="exampleInputRating" class="form-label">Rating</label>
    <input type="number" class="form-control" id="exampleInputRating" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputDescription" class="form-label">Description</label>
    <input type="text" class="form-control" id="exampleInputDescription">
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}