{% extends "base.html" %}
{% block title %} Правила сообщества | Friender {% endblock %}

{% block content %}
В Tinder нет места для:
Эротическое или сексуальное содержание

Мы не просим вас аккуратно зачесать волосы или надеть лучший выходной костюм. Просто размещайте фото, подходящие для публичного просмотра. Никакой наготы, явно выраженного сексуального контента или подробного описания ваших сексуальных предпочтений в биографии. Соблюдайте правила приличия.

Проявление агрессии

Не участвуйте и не призывайте других пользователей участвовать в оскорбительных или агрессивных действиях в отношении любых других пользователей. Мы также запрещаем отправлять без разрешения любые материалы, содержащие сексуальный контекст. Любые сообщения о домогательствах, угрозах или запугивании рассматриваются очень серьезно.

Насилие и причинение физического вреда

На Tinder мы не допускаем размещения контента с элементами насилия и жестокости, а также запрещаем любые действия и материалы, пропагандирующие насилие в любом виде, включая угрозы или призывы к терроризму. Строго запрещены любые действия, которые могут причинить физический вред, принуждение и акты физического насилия.

Материалы, пропагандирующие самоубийство или членовредительство, также строго запрещены. В подобных ситуациях мы можем принять ряд мер для помощи пользователю, включая обращение в службы поддержки в кризисных ситуациях.

Недоброжелательные высказывания

Не допускается публикация контента, который пропагандирует, разжигает или оправдывает расизм, нетерпимость, ненависть или жестокое обращение по отношению к людям или группам людей по признаку национальной, этнической или религиозной принадлежности, в связи с инвалидностью, полом, возрастом, происхождением, сексуальной ориентацией или гендерной самоидентификацией.

Личная информация

Не публикуйте открыто свою или чужую личную информацию, включая номера страховых полисов, паспортов, пароли, финансовые сведения или дополнительные контактные данные, например номера телефонов, адреса электронной почты, домашние/рабочие адреса.

Спам

Не создавайте фейковых страниц. Будьте настоящими. Не используйте Tinder как инструмент для публикации ссылок или привлечения пользователей на другие сайты.

Реклама и пропаганда

Реклама и пропаганда в Tinder недопустимы. Вы вправе приглашать других пользователей куда хотите, однако мы удаляем профили, цель которых — реклама мероприятия или услуг, некоммерческих и политических кампаний, конкурсов или проведение исследований. Прекрасно, что на следующей неделе у вас состоится комедийное шоу, однако Tinder создан не для рекламы.

Проституция и торговля людьми

Оказание сексуальных услуг, торговля людьми или другие сексуальные действия без обоюдного согласия сторон и пособничество в таких действиях строго запрещены и влекут блокировку аккаунта в Tinder.

Мошенничество

Tinder не терпит мошенничества на своей платформе. Мы блокируем всех, кто пытается получить доступ к личной информации других людей в мошеннических или незаконных целях. Tinder также блокирует пользователей, которые сообщают свои финансовые реквизиты (PayPal, Venmo и т. д.) с целью получения денежных средств от других пользователей.

Использование других личностей

Будьте собой! Не притворяйтесь другими людьми.

Не выдавайте себя за других и не вводите в заблуждение других пользователей по поводу ваших связей с другими людьми или организациями. Не создавайте пародийных аккаунтов. Конечно, ваш профиль Майка Пенса невероятно смешной, однако вы не Майк Пенс. А если вы все-таки Майк Пенс, то что вы делаете в Tinder?

Несовершеннолетние

Все пользователи Tinder должны быть не младше 18 лет. Поэтому мы не разрешаем публиковать фотографии несовершеннолетних лиц без сопровождения взрослых. Если вы хотите опубликовать фотографии своих детей, вы также должны присутствовать на этих фотографиях. Немедленно сообщите нам, если вы натолкнулись на профиль, в котором опубликованы фотографии несовершеннолетних лиц без взрослых, содержатся призывы к причинению вреда детям или несовершеннолетние лица представлены в сексуальном или вызывающем образе.

Нарушение авторских прав и товарные знаки

Не публикуйте не свои материалы. Если в вашем профиле Tinder есть работы, защищенные товарными знаками или авторскими правами других лиц, не демонстрируйте их без прямого разрешения правообладателя.

Незаконное использование

Не используйте Tinder в незаконных целях. Если что-то незаконно в жизни, это незаконно и в Tinder.

Один человек — один профиль

У аккаунта Tinder не может быть нескольких владельцев, поэтому не создавайте учетные записи на двоих с другом или второй половинкой. И, пожалуйста, не создавайте несколько аккаунтов в Tinder.

Сторонние приложения

Не используйте приложения для доступа к сервисам Tinder или разблокирования специальных функций в Tinder (например, автосмахивания), созданные сторонними разработчиками.</p>
{% endblock %}